<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wxy.beanfilm">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".Model.GetUserFilmsService"
            android:exported="false">
        </service>
        <service
            android:name=".Model.MarkFilmService"
            android:exported="false">
        </service>
        <service
            android:name=".Model.HomeHotFilmsService"
            android:exported="false">
        </service>
        <service
            android:name=".Model.CompareService"
            android:exported="false">
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/activity_title">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FilmDetailsActivity"
            android:label="@string/empty"
            android:theme="@style/FilmDetailActivityTheme">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_title">
        </activity>
        <activity android:name=".SettingActivity">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register">
        </activity>

        <service
            android:name=".Model.LoginService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".Model.SearchService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".SearchActivity">
        </activity>

        <service
            android:name=".Model.FilmDetailService"
            android:exported="false">
        </service>

        <activity
            android:name=".CompareActivity"
            android:label="对比">
        </activity>
    </application>

</manifest>